/* Variables */

:root {
}

/* Reset & Default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

html,
body {
    position: relative;
    height: 100vh;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1200px;
}

/* navbar */

nav {
    z-index: 10000;
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 1rem 3rem;
    top: 0;
    left: 0;
}

.nav_container {
    display: flex;
    flex-direction: column;
}

.nav_block {
    flex: 1 1 100%;
}

.block_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_brand {
    font-size: 1.5rem;
}

.nav_toggle {
    width: auto;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_toggle_bar {
    width: 25px;
    height: 2px;
    background-color: #fff;
}

.nav_toggle:hover {
    cursor: pointer;
}

.block_right {
    margin-top: 10px;
    overflow: hidden;
    max-height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height 0.5s linear;
}

.block_right a {
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
    padding: 0.4rem 0;
}

.block_right a:hover {
    color: #222;
    background-color: #fff;
}

/* Header */

header {
    position: relative;
    padding: 2rem 0;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background: #222 url('../img/bg-front.jpg') no-repeat fixed center;
    filter: blur(2px);
}

.header_title {
    font-size: 4rem;
}

.header_logo {
    margin-top: 1rem;
    width: 7rem;
}

.header_sub {
    font-family: 'Roboto Mono', monospace;
}

/* About */

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

main .container {
    align-items: center;
    padding: 80px 1rem;
    display: flex;
    flex-direction: column;
}

main * {
    color: #222;
}

.about_title {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    border-bottom: #222 1px solid;
    padding: 1rem 0;
}

.about_content {
    padding: 1.5rem 0;
    font-size: 1.5rem;
}

.about_content p {
    margin-bottom: 2rem;
}

.about_image {
    width: 100%;
    height: auto;
}

.about_content figure {
    margin: auto;
    max-width: 600px;
    text-align: end;
}

/* Projects */

#projects {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #222;
    height: auto;
}

#projects .container {
    padding: 80px 1rem;
}

.projects_title {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    border-bottom: #fff 1px solid;
    padding: 1rem 0;
}

.project_cards {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.card {
    width: 350px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.445) 5px 5px 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.card_block {
    padding: 0.8rem 0;
    text-align: center;
    background-color: #fff;
}
.card_block h3 {
    color: #222;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card_block a {
    border: #222 1px solid;
    color: #fff;
    background-color: #222;
    border-radius: 2px;
    padding: 0.2rem 0.5rem;
}

.card_block a:hover {
    color: #222;
    background-color: #fff;
}

/* Skills */

#skills {
    width: 100%;
    display: flex;
    justify-content: center;
}

#skills .container {
    padding: 80px 1rem;
}

.skills_title {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    border-bottom: #222 1px solid;
    padding: 1rem 0;
}
.skills_title h2 {
    color: #222;
}

.skills_container {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill_card {
    display: flex;
    background-color: #222;
    border-radius: 3px;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.img-pl {
    width: 50px;
}

.percentage {
    width: 90%;
    height: 15px;
    background-color: rgb(71, 71, 71);
    margin: 1.5rem 0;
}

.percentage-css {
    background-color: #24d5fe;
    height: 100%;
    width: 70%;
}
.percentage-js {
    height: 100%;
    width: 60%;
    background-color: #f8e810;
}
.percentage-html {
    height: 100%;
    width: 90%;
    background-color: #fc2b04;
}

.skill_card p {
    text-align: center;
}

/* Footer */

footer {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .container {
    padding: 80px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .container > * {
    margin: 0.5rem 1rem;
}

.social a {
    margin: 0 0.2rem;
}

.fa-md:hover {
    cursor: pointer;
    color: #24d5fe;
    text-shadow: #fff 0px 0px 2ssssssssssssssspx;
}

#me {
    color: #24d5fe;
    font-weight: 700;
}

@media (min-width: 768px) {
    .nav_container {
        flex-direction: row;
    }
    .nav_toggle {
        display: none;
    }
    .block_right {
        margin-top: 0px;
        max-height: 400px !important;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .block_right a {
        width: max-content;
        padding: 0.5rem 0.8rem;
        border-radius: 2px;
    }

    /* About */

    .about_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .about_content * {
        flex: 1 1 450px;
    }

    .about_content figure {
        align-items: flex-end;
    }
}
