.footer {
	height: auto;
	background-color: black;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding-bottom: 1rem;
}

.footer-content {

}

.social {
	display: inline;
/*	white-space: 20px;*/
}
.fa {
	color: #f8e810;
}
.fa-md:hover {
	cursor: pointer;
	color: #fc2b04;
}

#me {
	color: #24d5fe;
	font-weight: 700;
}